$background-color-primary: #c7bebe;
$background-color-secondary: #e7e7e7;

$color-header: #d04f4f;

$btn-font-color: #ffffff;
$btn-bg-color-ingredient: #3282f7;
$btn-bg-color-appliance: #68d9a4;
$btn-bg-color-ustensile: #ed6454;
