.card {
  &-title {
    font-size: 18px;
  }
  &-img-top {
    background-color: $background-color-primary;
  }
}

.small {
  font-size: 12px;
}

.text-truncate-multiline {
  display: -webkit-box !important;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  white-space: normal;
}
