input {
  height: 69px;
  &:focus-visible {
    outline: 0;
  }
}

.bg-search {
  background-color: $background-color-secondary !important;
}

.dropdown-toggle::after {
  border: 0;
}

em.bi {
  &::before {
    font-weight: 800 !important;
  }
}
